* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

#container {
  width: 92vw;
  margin: 100px auto; }
  @media screen and (max-width: 720px) {
    #container {
      width: 90vw; } }

.game-card-icon {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  cursor: pointer; }

#game-reveal {
  display: none;
  position: relative;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  top: calc(50vh - 350px); }
  #game-reveal .game-card-icon.reveal {
    left: 0;
    top: -100px; }
    @media screen and (max-width: 720px) {
      #game-reveal .game-card-icon.reveal {
        top: -85px; } }
  @media screen and (max-width: 720px) {
    #game-reveal {
      grid-template-columns: 1fr; } }
  #game-reveal .game-reveal-img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 350px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75); }
    @media screen and (max-width: 720px) {
      #game-reveal .game-reveal-img {
        height: 250px; } }
  #game-reveal .game-reveal-desc {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 20px; }
    #game-reveal .game-reveal-desc h1 {
      font-size: 50px;
      margin-bottom: 20px;
      text-align: left; }
      @media screen and (max-width: 720px) {
        #game-reveal .game-reveal-desc h1 {
          font-size: 30px; } }

#game-browse {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 50px; }
  @media screen and (max-width: 720px) {
    #game-browse {
      grid-template-columns: 1fr; } }

.game-card {
  position: relative;
  height: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
  border-radius: 10px; }
  @media screen and (max-width: 720px) {
    .game-card {
      height: 200px; } }
  .game-card:hover .game-card-desc {
    bottom: 0;
    opacity: 1; }
  .game-card .game-card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; }
  .game-card .game-card-icon.browse {
    right: -20px;
    top: calc(50% - 40px); }
    @media screen and (max-width: 720px) {
      .game-card .game-card-icon.browse {
        right: -10px; } }
  .game-card .game-card-desc {
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    bottom: 0%;
    opacity: 0;
    transition: 0.4s;
    height: 45%;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.4s ease-out; }
    .game-card .game-card-desc p {
      padding: 15px; }
